* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
  }
  
  body {
	font-family: 'Hanalei';
	line-height: 1.25;
	background-color: #080808;
  }

  input{
	font-family: 'Hanalei';
  }