@import "../core/main";

.Block_Filter{
	.top-logo{
		margin: 20px;
		padding: 90px;
		>img{
			width: 100%;
		}
	}
	.menu-block{
		margin: 20px;
		display: flex;
		justify-content: space-around;
		>div{
			border: none;
		}
	}
	.content{
		margin: 20px;
		font-family: 'Flower';
		color: white;
		.spinner{
			display: flex;
			justify-content: center;
			margin-top: 150px;
		}
	}


	////////////////////
	.list-item {
		background-color: #eee;
		padding: 10px;
		margin: 5px;
		
		height: 200px;
		
	}
	
	/* Transition */
	.slide-up-appear {
		opacity: 0;
		transform: translateY(100px);
		transition: all 0.5s ease;
		
		&.slide-up-appear-active {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}