@import "../core/main";

.Block_Filter{
	overflow-y: hidden;
	.top-logo{
		margin: 20px;
		padding: 90px;
		>img{
			width: 100%;
		}
	}
	.menu-block{
		margin: 20px;
		display: flex;
		justify-content: space-around;
		>div{
			border: none;
		}
	}
	.content{
		margin: 20px 0;
		font-family: 'Flower';
		color: white;
		
	}
	.filter{
		border: 1px dashed #444;
		min-height: 70px;
		position: relative;
		color:	white;
		&On{
			animation: loadin 2s;
				opacity: 1;
		}
		.menu{
			&LoadIn{
				animation: loadin 2s;
				opacity: 1;
			}
			&LoadIn2{
				animation: loadin 2s;
				opacity: 1;
			}
			&LoadOut{
				animation: loadout 2s;
				opacity: 0;
			}
		}
		.spinner{
			position: absolute;
			left: 50%;
			&LoadIn{
				animation: loadin 2s;
				opacity: 1;
			}
			&LoadOut{
				animation: loadout 2s;
				opacity: 0;
			}
			&Not{
				opacity: 0;
			}
		}
		@keyframes loadin {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@keyframes loadout {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
		
	}
}
