@font-face {
	font-family: 'googleFont';
	src: url('googleFont.woff');
	font-style: normal;
}


@font-face {
	font-family: 'seroPro';
	src: url('seroPro.woff');
	font-style: normal;
}

@font-face {
	font-family: 'openSans';
	src: url('openSans.woff');
	font-style: normal;
}

@font-face {
	font-family: 'Alegreya';
	src: url('Alegreya.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Tinos';
	src: url('Tinos.ttf');
	font-style: normal;
}



/* @font-face {
	font-family: 'Open Sans';
	src: url('OpenSans/OpenSans-Regular.eot');
	src: url('OpenSans/OpenSans-Regular.woff2') format('woff2'),
	url('OpenSans/OpenSans-Regular.woff') format('woff'),
	url("OpenSans/OpenSans-Regular.otf") format("opentype"),
	url('OpenSans/OpenSans-Regular.ttf') format('truetype'),
	url('OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
	url('OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
  } */