@font-face {
	font-family: 'googleFont';
	src: url('googleFont.woff');
	font-style: normal;
}


@font-face {
	font-family: 'seroPro';
	src: url('seroPro.woff');
	font-style: normal;
}

@font-face {
	font-family: 'openSans';
	src: url('openSans.woff');
	font-style: normal;
}