@import "../core/main";

.FilterBlock{
    margin: 5px 0;

    .blockFilterZero{
        opacity: 0;
    }
    .blockFilter{
		width: 100%;
		overflow: hidden;
		.blockContent{
			background-color: black;
			border-top: 2px solid white;
			border-left: 2px solid white;
			border-bottom: 2px solid white;
			border-radius: 16px 0 0 16px;
			margin-left: 20px;
			padding: 10px;
			color: white;
			font-family: 'Flower';
		}
	}
	
	// .blockAnim {
	// 	animation: pulse 1.5s;
	//   }
	  
	@keyframes pulse {
		0% {
			transform: translateX(100%);
			opacity: 0;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
}
