@import "../core/main";

.FilterButton{
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: relative;
	transition: all 1s;
	&Selected{
		box-shadow: 8px 11px 31px -8px red;
	}
	.Underline{
		transition: all 1s;
		top: 21px;
		width: 111%;
		background: white;
		height: 1px;
		position: absolute;
		box-shadow: 0 0 7px white ,0 0 7px white;
		opacity: 0;
		&Selected{
			opacity: 0.3;
		}
		 
	}
	.filterBtn{
		transition: all 1s;
		display: flex;
		color: white;
		font-weight: 1.2em;
		&Selected{
			box-shadow: -3px 10px 35px -8px #0ff;
			text-shadow:0 0 7px white ,0 0 7px white;
		}


		.filterSvg{
			transition: all 1s;
			display: flex;
			align-self: center;
			margin-left: 10px;
			display: inline;
			stroke: white;
			&Selected{
				filter: drop-shadow( 0 0 4px white );
			
			}
		}
	}
   
}
